{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block body %}
    {# https://symfony.com/doc/current/form/form_customization.html #}
    {# {{ form(form) }} #}
    {{ form_start(form) }}
    <div>{{ form_errors(form) }}</div>

    <div>
        {{ form_label(form.title, 'Enter title') }}
    </div>
    <div>
        {{ form_widget(form.title, {'attr': {'style': 'color: grey'}}) }}
    </div>
    
    <div>
        {{ form_label(form.text, 'Enter post') }}
    </div>
    <div>
        {{ form_widget(form.text) }}
    </div>

    <div>
        <button type='submit'>💾 Save</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
